{% liquid
  if section.settings.collection_list != blank
    assign section_collections = section.settings.collection_list
    assign max_items = section.settings.collection_list.count
  elsif section.settings.layout_type == 'editorial'
    assign max_items = section.settings.max_collections
  elsif section.settings.layout_type == 'bento'
    assign max_items = 4
  elsif section.settings.layout_type == 'carousel'
    assign max_items = section.settings.columns | plus: 2
  elsif section.settings.layout_type == 'grid'
    assign max_items = section.settings.columns
  endif
%}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>

<div
  class="
    section
    section--{{ section.settings.section_width }}
    color-{{ section.settings.color_scheme }}
    section-resource-list
    spacing-style
    gap-style
  "
  style="
    {% render 'spacing-style', settings: section.settings %}
    {% render 'gap-style', value: section.settings.gap %}
  "
  data-testid="collection-list"
>
  <div class="section-resource-list__content">
    {%- content_for 'blocks' -%}
  </div>

  {% if section_collections == null %}
    {% for i in (1..max_items) %}
      {% assign section_collections = section_collections | append: ', ' %}
    {% endfor %}

    {% assign section_collections = section_collections | split: ',' %}
  {% endif %}

  {% capture list_items %}
    {% for collection in section_collections limit: max_items %}
      <div class="resource-list__item">
        {% content_for 'block', type: '_collection-card', id: 'static-collection-card', closest.collection: collection %}
      </div>
      {% unless forloop.last %}
        <!--@list/split-->
      {% endunless %}
    {% endfor %}
  {% endcapture %}

  {% liquid
    assign list_items_array = list_items | strip | split: '<!--@list/split-->'
  %}

  {% render 'resource-list',
    list_items: list_items,
    list_items_array: list_items_array,
    settings: section.settings,
    carousel_ref: 'collectionList',
    slide_count: max_items,
    content_type: 'collections',
    test_id: 'collections-list-grid'
  %}
</div>

{% if section.settings.layout_type == 'grid' and section.settings.carousel_on_mobile == false %}
  <style>
    @media screen and (max-width: 749px) {
      #shopify-section-{{ section.id }} .section-resource-list .resource-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      #shopify-section-{{ section.id }} .section-resource-list .resource-list__item:first-child {
        grid-column: 1 / -1;
      }
    }
  </style>
{% endif %}